<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submited</title>
  </head>
  <body>
    <center>
      <h1>your attendence has been submited</h1><br>
      <h2>The list of absenties are :-</h2>
      {% for i in abs %}
        <p>{{i}}</p>
      {% endfor %}
    </center>
  </body>
  <style>
    h1{
      color:green;
    }
    p{
      color:red;
    }
  </style>
</html>